@font-face {
    font-family: "Marvel";
    src: url('/app/public/fonts/marvel-font/MarvelRegular-Dj83.ttf') format('ttf');
}

* {
    margin: 0;
    padding: 0;
}

/* Ajuste das imagens do Modal */
.iRSIdA {
    display: contents !important;
    height: 100%;
}

/* Ajuste do botão do dropdown */
.dropdown-toggle.btn.btn-primary {
    background: none;
    border: none;
}